@charset "UTF-8";

/**
 * font family
 * font-family: 'Roboto', sans-serif;
 * font-family: 'Vollkorn', serif;
 */

@mixin ipadpro {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin onIE() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

%main-color {
    color: #92c96a;
}

%font-default {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
}

%font-color {
    color: #555;
}

%letter-spacing-default {
    letter-spacing: .3rem;
}

%font-roboto {
    font-family: 'Roboto', sans-serif;
}

%font-Vollkorn {
    font-family: 'Vollkorn', serif;
}

%font-weight-400 {
    font-weight: 400;
}

%font-weight-500 {
    font-weight: 500;
}

%font-weight-700 {
    font-weight: 700;
}

%transition-default {
    transition: all .3s ease;
}

/**
 * ---------------------------------
 * common css
 */

.nav--link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}

/**
 * news area
 * -------------------------------
 */

.news {
    width: 100%;
    padding-bottom: 10rem;

    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include ipadpro {
            padding: 0 2rem;
        }

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__list-article,
    &__lasted-article {
        width: 100%;

        @include mobile {
            margin-top: 3rem;
        }
    }

    &__list-article {
        max-width: calc(72.5% - 10px);

        @include mobile {
            max-width: 100%;
        }
    }

    &__lasted-article {
        max-width: calc(100% - 72.5% - 10px);

        @include mobile {
            max-width: 100%;
        }
    }

    &__tag {
        @extend %font-weight-700;
        font-size: 1.8rem;
        @extend %main-color;
        padding: 1rem 0;
        border-bottom: .1rem solid #92c96a;
        letter-spacing: .1rem;
        display: block;
    }

    &__list {
        width: 100%;

        li {
            width: 100%;
            border-bottom: .1rem solid #ccc;

            @include mobile {
                padding: 1.9rem 0;
            }

            &:hover {
                opacity: .75;

                &::after {
                    right: 0;
                }
            }

            .nav--link{
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                padding: 1.9rem 1rem;
                padding-left: 0;

            }

            span {
                @extend %font-weight-500;
                font-size: 1.4rem;
                color: #1f1f1f;

                span {
                    display: inline-block;
                    margin: 0 1.5rem;
                }
            }

            p {
                width: 100%;
                @extend %font-weight-500;
                font-size: 1.6rem;
                color: #333;
                white-space: nowrap;
                overflow: hidden;
                letter-spacing: .06rem;
                text-overflow: ellipsis;
                margin-top: 1rem;

                @include mobile {
                    letter-spacing: .1rem;
                }
            }
        }
    }

    &__lasted {
        width: 100%;

        li {
            width: 100%;
            position: relative;
            margin-top: 2rem;
            padding-left: 2rem;

            &:hover {
                opacity: .75;
            }

            &::before {
                content: '';
                width: 1rem;
                height: 1rem;
                display: block;
                border-left: .1rem solid #333;
                border-bottom: .1rem solid #333;
                position: absolute;
                top: .6rem;
                left: .3rem;
            }

            .nav--link{
                position: relative;
                
                
            }

            p {
                width: 100%;
                @extend %font-weight-500;
                font-size: 1.4rem;
                color: #333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 1rem;
                text-decoration: underline;

                @include mobile {
                    letter-spacing: .1rem;
                }
            }
        }
    }
}

.nav-page {
    width: 100%;
    display: flex;
    margin-top: 4rem;

    li {
        height: 3rem;
        line-height: 30px;
        border: .1rem solid #ccc;
        background-color: #fff;
        color: #1f1f1f;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        @extend %font-weight-500;
        @extend %transition-default;

        &:not(:last-child) {
            margin-right: .5rem;
        }

        &:hover {
            opacity: .75;
        }
    }

    &__state {
        width: 6rem;
        margin-left: auto;
        user-select: none;
    }

    &__num {
        width: 3rem;

        &.active {
            background-color: #71bb48;
            color: #fff;
        }
    }

    &__next {
        width: 3rem;

        &::before,
        &::after {
            content: '';
            width: .5rem;
            height: .5rem;
            border-top: .1rem solid #71bb48;
            border-right: .1rem solid #71bb48;
            position: absolute;
            top: 1.2rem;
            transform: rotate(45deg);
        }

        &::before {
            left: .7rem;
        }

        &::after {
            left: 1.1rem;
        }
    }
}