@charset "UTF-8";
@import "functions_responsive.scss";
@import "assets/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
  &:hover {
    opacity: 0.8;
  }
}
body {
<<<<<<< HEAD
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
  color: #555555;
  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}
body > main {
  -ms-overflow-x: hidden;
}
=======
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
    font-size: 62.5%;
    color: #555;
    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
}

>>>>>>> 19b89c006217299ff92ccf8a14d7d19512f3baef

@supports (-ms-ime-align: auto) {
  body > main {
    overflow: hidden;
  }
}
header.active {
  background-color: #f5f5f3;
  .header-content {
    padding: 5px 0;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 888;
  top: 0;

  .header-content {
    transition: all 0.5s;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .menu-burger {
    display: none;
  }
  .logo {
    h1 {
      a {
        font-weight: bold;
        font-size: 2.4rem;
        color: #555555;
      }
    }
  }
  .menu-header {
    .main-menu-header {
      display: flex;
      align-items: center;
      li {
        display: inline-block;
        margin-left: 40px;
        a {
          font-size: 1.4rem;
          color: #555555;
        }
        .green-header {
          color: #71bb48;
        }
      }
      .contact {
        a {
          border-radius: 40px;
          width: 140px;
          height: 36px;
          background-color: #71bb48;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
  }
}
.top-title {
  margin-top: 150px;
  margin-bottom: 60px;
  .title {
    color: #b6d69e;
    font-family: "Vollkorn", serif;
    font-size: 8.2rem;
    text-align: center;
    font-style: italic;
    margin: 32px 0 33px 0;
    span {
      font-style: normal;
      margin-top: -32px;
      color: #555555;
      font-size: 2.4rem;
      font-weight: bold;
      display: block;
    }
  }
  .break-cumb-title {
    li {
      display: inline-block;
      padding: 0 15px;
      a {
        color: #d7d7d6;
      }
      a.active {
        color: #555555;
      }
    }
    .center {
      border-left: 1px solid #d7d7d6;
      border-right: 1px solid #d7d7d6;
    }
  }
}
footer {
  .green {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #71bb48;
  }
  .triangle {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #f8b751;
  }
  .x {
    width: 9px;
    height: 9px;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(45deg);
      display: inline-block;
      width: 10px;
      height: 1px;
      background-color: #555555;
    }
    span:first-of-type {
      transform: rotate(135deg);
    }
  }
  .logo-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
    img {
      width: 74px;
    }
    .details {
      padding-left: 20px;
    }
    .small {
      font-size: 1.2rem;
      display: block;
      margin-bottom: 15px;
    }
    .big {
      font-size: 2.4rem;
      text-indent: -5px;
      font-weight: bold;
    }
  }
  .reservation {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .phone {
    font-size: 4.2rem;
    color: #71bb48;
    font-style: italic;
    font-family: "Roboto", sans-serif;
  }
  .address {
    margin-top: 35px;
    display: block;
    margin-bottom: 10px;
  }
  .fax {
    display: block;
    margin-bottom: 48px;
  }
  .access {
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    color: #71bb48;
    font-size: 1.6rem;
  }
  .footer-content {
    padding: 75px 0 60px 0;
    background-color: #e9ece5;
  }
  .footer-content-main {
    display: flex;
    justify-content: space-between;
    .daily {
      font-weight: bold;
      margin-top: 20px;
      display: block;
    }
    .block {
      .table-footer {
        margin-top: 18px;
        width: 550px;
        border: 1px solid #cccccc;
        .table-ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 27px;
          li {
            display: inline-block;
            font-size: 1.8rem;
            span {
              display: block;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: #71bb48;
            }
          }
        }
        tr {
          height: 80px;
          font-size: 1.8rem;
          td {
            vertical-align: middle;
            background-color: white;
            padding: 0;
            text-align: center;
            border: 1px solid #cccccc;
          }
          th {
            background-color: #f4f4f2;
            vertical-align: middle;
            border: 1px solid #cccccc;
          }
          th:first-of-type {
            width: 210px;
          }
        }
        tr:first-of-type {
          height: 60px;
        }
      }
      .describe {
        margin-top: 24px;
        .green {
          margin-right: 25px;
        }
        .details {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 10px;
        }
        .img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;
          margin-right: 25px;
          position: relative;
          &:before {
            content: ". . .";
            position: absolute;
            letter-spacing: -1px;
            right: -19px;
            top: -18%;
          }
        }
      }
    }
  }
  .footer-link {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 70px 0;
    .content {
      position: relative;
      img {
        width: 100%;
        border-radius: 10px;
      }
      span {
        color: #333333;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
      .wht {
        color: white;
      }
    }
  }
  .footer-info {
    border-top: 1px solid #cccccc;
    padding: 40px 0;
    .main-content {
      display: flex;
      justify-content: space-between;
    }
  }
}
#backTop {
  cursor: pointer;
  position: fixed;
  right: 60px;
  bottom: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    transform: rotate(45deg);
    display: block;
    width: 30px;
    height: 30px;
    border-top: 3px solid #71bb48;
    border-left: 3px solid #71bb48;
    margin-top: 20px;
  }
  &:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  #backTop {
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 100px;
    span {
      margin-top: 8px;
      width: 15px;
      height: 15px;
    }
  }
  header {
    .container {
      padding: 0 20px;
    }
    .header-content {
      padding: 20px 0;
    }
    .menu-header {
      position: fixed;
      top: 0;
      left: 0;
      height: 0;
      overflow: hidden;
      width: 100vw;
      transition: all 0.5s;
      z-index: 999;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .main-menu-header {
        display: block;
        li {
          display: block;
          margin: 20px auto;
          text-align: center;
          a {
            text-align: center;
          }
        }
      }
    }
    .menu-header.active {
      height: 100vh;
    }
    .menu-burger {
      .menu {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 1050;
        span {
          width: 100%;
          height: 1.5px;
          position: absolute;
          top: 50%;
          left: 0;
          background-color: #71bb48;
          transition: all 0.5s;
        }
        span:first-of-type {
          transform: translateY(-15px);
        }
        span:last-of-type {
          transform: translateY(15px);
        }
      }
      .menu.active {
        span {
          transform: rotate(45deg) translateY(0);
        }
        span:first-of-type {
          transform: rotate(135deg);
        }
      }
    }
    // .logo {
    //   margin-left: 20px;
    // }
    .menu-burger {
      display: block;
      // margin-right: 20px;
    }
  }
  .break-cumb-title {
    margin: 20px 0;
  }
  footer {
    .footer-content-main {
      flex-wrap: wrap;
      justify-content: center;
    }
    .access {
      margin-bottom: 20px;
    }
    .footer-link {
      flex-wrap: wrap;
      .content {
        margin: auto;
        margin-bottom: 20px;
      }
    }
    .footer-info {
      padding: 20px 0;
    }
  }
}
@media screen and (max-width: 576px) {
  header {
    .logo {
      a {
        img {
          width: 40px;
        }
        span {
          font-size: 1.8rem;
          margin-left: -10px;
        }
      }
    }
  }
  footer {
    .phone {
      font-size: 3.2rem;
    }
    .footer-content-main {
      .main-table {
        width: 280px;
        overflow-x: auto;
        margin: auto;
      }
    }
    .footer-info {
      .main-content {
        flex-wrap: wrap;
        span {
          padding: 10px 0;
        }
      }
    }
    .logo-footer {
      .details {
        padding-left: 10px;
      }
      img {
        width: 56px;
      }
      .big {
        font-size: 1.8rem;
      }
    }
  }
}
