@charset "UTF-8";
@import 'functions_responsive.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
    font-size: 62.5%;
    color: #555;
    background-color: #f4f4f2;
    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
}


body>main {
    -ms-overflow-x: hidden;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}