@charset "UTF-8";

/**
 * font family
 * font-family: 'Roboto', sans-serif;
 * font-family: 'Vollkorn', serif;
 */

@mixin ipadpro {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin onIE() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

%main-color {
    color: #92c96a;
}

%font-default {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
}

%font-color {
    color: #555;
}

%letter-spacing-default {
    letter-spacing: .3rem;
}

%font-roboto {
    font-family: 'Roboto', sans-serif;
}

%font-Vollkorn {
    font-family: 'Vollkorn', serif;
}

%font-weight-400 {
    font-weight: 400;
}

%font-weight-500 {
    font-weight: 500;
}

%font-weight-700 {
    font-weight: 700;
}

%transition-default {
    transition: all .3s ease;
}

/**
 * ---------------------------------
 * common css
 */

.f-comma {
    display: inline-block;
    max-width: 1rem;
}

.heading {
    @extend %font-Vollkorn;
    @extend %main-color;
    font-size: 8.2rem;
    font-style: italic;
    letter-spacing: .9rem;
    display: table;
    margin: 0 auto;
    position: relative;
    line-height: 70px;
    z-index: 25;

    @include ipadpro {
        font-size: 6rem;
    }

    @include mobile{
        font-size: 4rem;
    }

    &-sub {
        @extend %font-default;
        font-size: 2.4rem;
        @extend %font-weight-700;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(2.5rem);
        font-style: normal;
        @extend %font-color;

        @include onIE {
            transform: translateY(3rem);
        }

        @include ipadpro {
            font-size: 1.6rem;
            transform: translateY(1.5rem);
        }


    }
}

.btn {
    outline: none !important;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %transition-default;

    &:hover {
        opacity: .75;
    }

    &.btn--radius {
        height: 6rem;
        width: 100%;
        max-width: 24rem;
        background-color: #fff;
        color: #71bb48;
        font-size: 1.6rem;
        border-radius: 3rem;
        @extend %letter-spacing-default;
        @extend %font-weight-500;

        @include onIE {
            padding-top: .8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.nav--link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/**
 * end common css
 * 
 */

/**
 * ---------------------------------
 * mv area
 */
.mv {
    width: 100%;
    position: relative;
    overflow: hidden;

    @include mobile {
        height: 100vh;
    }

    &::after {
        content: '';
        width: 110vw;
        height: 10vw;
        position: absolute;
        background-color: #f4f4f2;
        bottom: -15%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        left: 50%;
        transform: translateX(-50%);

        @include mobile{
            bottom: 0;
        }

    }

    &__slick {
        width: 100%;

        @include mobile {
            height: 100%;

            .slick-list,
            .slick-track {
                height: 100%;
            }
        }

        li,
        li>img {
            width: 100%;

            @include mobile {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    h2 {
        position: absolute;
        bottom: 11vw;
        left: calc(240px + (100vw - 1600px) / 2);

        // transform: translateY(-50%);
        @include ipadpro {
            left: 6.25vw;
            bottom: 25%;
        }
        @include mobile{
            left: 0;
            right: 0;
            padding: 0 6.25vw;
            bottom: 12vh;
        }
        .mv__content {
            color: #555;
            @extend %font-weight-500;
            font-size: 2.8rem;
            @extend %letter-spacing-default;
            background-color: #fff;
            padding: .4rem 1.5rem;
            line-height: 64px;

            @include onIE {
                padding: .4rem 1.5rem 0 1.5rem;
            }

            @include mobile{
                font-size: 1.6rem;
                line-height: 45px;
                padding: .4rem .5rem;
                letter-spacing: 0;
            }
        }
    }
}

/**
 * about area
 */
.about {
    width: 100%;
    background-color: #f4f4f2;
    padding-top: 8rem;

    @include mobile {
        padding: 5rem 2rem;
    }

    &__inner {
        width: 100%;
        display: flex;
        position: relative;
        top: -3.5rem;
        margin-bottom: 15rem;

        @include mobile {
            flex-direction: column;
            margin-bottom: 3rem;
        }

        li {
            width: 100%;
            position: relative;

            @include mobile {
                max-width: 100%;
            }
        }
    }

    &__img {
        max-width: calc(100% - 46.875%);
        border-radius: 2rem;
        overflow: hidden;
        @extend %transition-default;

        &:hover {
            opacity: .75;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        max-width: 46.875%;
        padding: 12rem 6rem 0 4rem;
        position: relative;

        @include ipadpro {
            padding: 2rem 6rem;
            margin-top: 3rem;
        }
        @include mobile {
            padding: 0;
            margin-top: 3rem;
        }

        h3 {
            font-size: 2.4rem;
            @extend %font-color;
            @extend %font-weight-700;
            @extend %letter-spacing-default;
            margin-bottom: 6rem;

            @include ipadpro {
                margin-bottom: 4rem
            }
        }

        p {
            font-size: 1.4rem;
            @extend %font-weight-500;
            @extend %font-color;
            line-height: 30px;
        }

        .btn {
            position: absolute;
            left: 4rem;
            bottom: 0;
            transform: translateY(80%);
            @include mobile{
                position: relative;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
}


/**
 * menu area
 * --------------------------------------------
 */
.menu {
    width: 100%;
    background-color: #eaece7;
    padding: 8rem 0;

    &__inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include ipadpro {
            padding: 0 2rem;
        }

        @include mobile{
            justify-content: space-around;
        }

        li {
            margin-top: 4rem;
            width: 100%;
            max-width: 17rem;

            @include ipadpro {
                max-width: calc((100% / 3) - 10px);
            }

            @include mobile{
                max-width: 28rem;
                margin-left: 2rem;
                margin-right: 2rem;
            }

        }
    }

    &__item {
        div {
            position: relative;
            width: 17rem;
            height: 17rem;
            background-color: #fff;
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @extend %transition-default;

            @include ipadpro {
                margin: 0 auto;
            }

            &:hover {
                opacity: .75;
            }

            h5 {
                font-size: 1.6rem;
                margin-top: 2.5rem;
                @extend %font-color;
                @extend %font-weight-700;
            }
        }

        p {
            font-size: 1.4rem;
            letter-spacing: .1rem;
            margin-top: 2rem;
            @extend %font-weight-500;
            @extend %font-color;
        }
    }

    .btn {
        margin: 0 auto;
        margin-top: 6rem;
    }
}

/**
 * second menu
 */
.nd-menu {
    width: 100%;
    background-color: #f4f4f2;

    &__inner {
        width: 100%;
        display: inline-flex;
        margin: 5.5rem 0;
        justify-content: space-between;
        @include mobile{
            flex-wrap: wrap;
            margin: 0;
        }

        li {
            width: 100%;
            max-width: calc(50% - 10px);
            position: relative;
            @extend %transition-default;

            @include mobile{
                max-width: 100%;
                margin-top: 3rem;
                height: 20rem;
            }

            &:hover {
                opacity: .75;
            }

            img {
                width: 100%;
                @include mobile{
                    height: 100%;
                    object-fit: cover;
                    object-position: 70%;
                }
            }

            h3 {
                position: absolute;
                color: #71bb48;
                font-style: italic;
                font-size: 2rem;
                left: 6rem;
                @extend %font-Vollkorn;
                top: 50%;
                transform: translateY(-50%);
                @include mobile{
                    left: 6.25vw;
                }

                span {
                    display: block;
                    @extend %font-default;
                    @extend %font-color;
                    font-size: 1.6rem;
                    font-style: normal;
                    @extend %font-weight-700;
                }
            }
        }
    }
}


/**
 * equip area
 */
.equip {
    width: 100%;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 6rem;
    background-color: #f4f4f2;

    &__inner {
        width: 110%;
        position: relative;
        transform: translateX(-5%);
    }

    &-slick {
        width: 100%;

        .slick-list {
            overflow: unset;
        }

        .slick-next,
        .slick-prev {
            width: 3.5rem;
            height: 4.5rem;
            z-index: 1;

            &::before {
                content: '';
                width: 3.2rem;
                height: 3.2rem;
                border: .4rem solid #fff;
                transform: rotate(45deg);
                display: block;
            }
        }

        .slick-prev {
            left: 14rem;
            @include mobile{
                left: 7rem;
            }
            &::before {
                border-top-color: transparent;
                border-right-color: transparent;
            }

        }

        .slick-next {
            right: 12rem;
            @include mobile{
                    right: 6rem;
            }

            &::before {
                border-left-color: transparent;
                border-bottom-color: transparent;
            }
        }

        li {
            width: 100%;
            position: relative;
            cursor: pointer;

            // overflow: hidden;
            margin: 0 1.5rem;

            img {
                border-radius: 2rem;
                border-radius: 2rem;
                width: 100%;
            }

            h6 {
                position: absolute;
                bottom: -4rem;
                left: 0;
                right: 0;
                text-align: center;
                @extend %font-color;
                font-size: 1.4rem;
                @extend %font-weight-500;
                letter-spacing: .1rem;
            }
        }
    }
}


/**
 * news area
 * -------------------------------
 */

.news {
    width: 100%;
    background-color: #f4f4f2;
    padding-top: 5rem;
    padding-bottom: 10rem;

    &__inner {
        width: 100%;
        padding: 0 6rem;
        margin-top: 3rem;
        @include mobile{
            padding: 0 2rem;
        }

        li {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 1.9rem 1rem;
            border-bottom: .1rem solid #ccc;
            @extend %transition-default;

            @include mobile{
                padding-right: 4rem;
            }

            &:hover {
                opacity: .75;

                &::after {
                    right: 0;
                }
            }

            &::after {
                content: '';
                display: inline-block;
                width: 3.3rem;
                height: .7rem;
                position: absolute;
                top: 50%;
                right: 2rem;
                border-bottom: .1rem solid #555;
                border-right: .2rem solid #555;
                transform: translateY(-50%) skew(45deg);
                @extend %transition-default;

                @include mobile{
                    width: 2rem;
                    right: 1rem;
                }
            }
        }
    }

    &__date {
        @extend %font-roboto;
        font-size: 1.4rem;
        @extend %font-color;
        @extend %font-weight-500;
    }

    &__category {
        color: #71bb48;
        font-size: 1.4rem;
        margin-left: 2.5rem;
    }

    &__content {
        font-size: 1.4rem;
        margin-left: 2.5rem;
        @extend %font-weight-500;
        @extend %font-color;
    }

    .btn {
        margin: 0 auto;
        margin-top: 4rem;
    }
}